<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044447552154-fmf4t3hp3sm6plsdh1n76ah6re46ia09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044447552154-fmf4t3hp3sm6plsdh1n76ah6re46ia09</string>
	<key>API_KEY</key>
	<string>AIzaSyCNT_2ZmbM8mhMvrzRVBTHNrTZyOk8NYD8</string>
	<key>GCM_SENDER_ID</key>
	<string>1044447552154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unitas.unipool</string>
	<key>PROJECT_ID</key>
	<string>unipool-cee9f</string>
	<key>STORAGE_BUCKET</key>
	<string>unipool-cee9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044447552154:ios:523202d8de12ba5e</string>
	<key>DATABASE_URL</key>
	<string>https://unipool-cee9f.firebaseio.com</string>
</dict>
</plist>